<ion-header>
  <ion-toolbar>
    <ion-title>Weapon List</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (ngSubmit)="onSubmit()" class="wer">
    <ion-item>
      <ion-label position="stacked">Type</ion-label>
      <ion-input type="text" name="type" [(ngModel)]="formData.type"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Element</ion-label>
      <ion-input type="text" name="element" [(ngModel)]="formData.element"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Monster</ion-label>
      <ion-input type="text" name="monster" [(ngModel)]="formData.monster"></ion-input>
    </ion-item>

    <ion-grid>
      <ion-row class="ion-align-items-center">
        <ion-col class="foto" size="6">
          <ion-img class="photo-frame" *ngIf="capturedPhoto" [src]="capturedPhoto" (click)="takePhoto()"></ion-img>
          <ion-img class="photo-frame" *ngIf="!capturedPhoto" src="../../assets/No-Image-Placeholder.svg"
            (click)="takePhoto()"></ion-img>

        </ion-col>
        <ion-col class="columna" size="6">
          <ion-button color="primary" fill="outline" (click)="takePhoto()">
            <ion-icon slot="start" name="camera-outline"></ion-icon>
            Take a photo
          </ion-button>
          <ion-button color="primary" fill="outline" (click)="pickImage()">
            <ion-icon slot="start" name="image-outline"></ion-icon>
            Pick an image
          </ion-button>
          <ion-button color="danger" fill="outline" (click)="discardImage()">
            <ion-icon slot="start" name="aperture"></ion-icon>
            Discard image
          </ion-button>
          <ion-button color="success" fill="outline" type="submit"> Submit</ion-button>
          <ion-button color="success" fill="outline" (click)="getAllWeapons()">Read</ion-button>
          <!-- HTML -->
          <b id="upd" class="error" [ngClass]="{'upd': isUpdateMode}">You are now in update mode, submitting now will
            update the entry you selected. To leave update mode click the READ button</b>
          <b id="typeError" class="error">Invalid type input, use only letters or spaces</b>
          <b id="elementError" class="error">Invalid element input, use only letters</b>
          <b id="monsterError" class="error">Invalid monster input, use only letters, spaces, ? or '</b>
          <b id="pictureError" class="error">No picture captured</b>



        </ion-col>
      </ion-row>
    </ion-grid>


  </form>
  <ion-list>
    <ion-item *ngFor="let b of weapons">
      <ion-avatar slot="start">
        <img *ngIf="b.filename" src="http://localhost:8080/images/{{b.filename}}" alt="image" />
      </ion-avatar>
      <ion-label>
        <h1>{{b.type}}</h1>
        <p>{{b.element}}</p>
        <p>{{b.monster}}</p>
      </ion-label>
      <div class="qwe">
        <div class="duo">
          <ion-button color="danger" fill="outline" (click)="deleteWeapon(b.id)">Delete</ion-button>
          <ion-button color="primary" fill="outline" (click)="updateWeapon(b.id)">Update</ion-button>
        </div>
        <ion-button color="success" fill="outline" (click)="loadUpgrades(b.id)">Show Upgrades</ion-button>
      </div>
      <ion-col>
        <ion-list *ngIf="weaponClicked === b.id">
          <ion-card *ngFor="let upgrade of upgradesList">
            <ion-item>
              <ion-label>
                <h2>Tier: {{ upgrade.tier }}</h2>
                <h3>Jewels: {{ upgrade.jewels }}</h3>
              </ion-label>
              <ion-button color="danger" fill="clear" (click)="eliminarUpgrade(upgrade)">X</ion-button>
            </ion-item>
          </ion-card>
          <ion-card>
            <ion-item>
              <ion-label position="stacked">Tier</ion-label>
              <ion-input type="text" name="tier" [(ngModel)]="newUpgrade.tier"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="stacked">Jewels</ion-label>
              <ion-input type="text" name="jewels" [(ngModel)]="newUpgrade.jewels"></ion-input>
            </ion-item>
            <ion-item>
              <ion-button expand="block" color="primary" (click)="agregarUpgrades()">Agregar</ion-button>
            </ion-item>
          </ion-card>
        </ion-list>
      </ion-col>


    </ion-item>
  </ion-list>

</ion-content>